@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  height: 65px;
  width: 55px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.movs {
  margin-top: 7px;
  margin-right: 4px;
}

.game {
  display: block;
  flex-direction: row;
}

.game-info {
  margin-top: 20px;
  text-align: center;
}

.navbar {
  font-size: 24px;
  font-weight: bold;
}

.ta {
  color: hsl(348, 100%, 61%);
}

.te {
  color: hsl(48, 100%, 67%);
}

.ti {
  color: hsl(141, 53%, 53%);
}

.footer {
  background-color: #fff;
  font-size: 10px;
}